body {
    background: #ffffff;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #404040;
    font-size: larger;
    line-height: 1.5;
}

button {
    font-size: 18px;
    background-color: #FED74B;
    border: 1px solid #CBA500;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    margin-top: -10px;
}

/* Мобильная версия */

@media screen and (max-width: 799px) {

    .first_block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    .second_block {
        margin-top: -80px;
        border: solid 1px #828282;
        border-radius: 0 0 20px 20px;
        border-top: none;
    }

    #first_img {
        border-radius: 20px 20px 0 0;
    }
}

/* Десктопная версия */

@media screen and (min-width: 800px) {

    .first_block {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .img_block {
        width: 100%;
        height: 100%;
    }

    #first_img {
        border-radius: 20px 0 0 20px;
    }

    .second_block {
        border: solid 1px #828282;
        border-radius: 0 20px 20px 0;
        border-left: none;
    }

}

/* Cкрытие времени */

@media screen and (max-width: 449px) {

    .trip_block_max {
        display: flex;
        flex-direction: column;
    }

    .p_02, .p_03, .p_04, .p_06, .p_07, .p_08, .p_10, .p_11, .p_12 {
        display: none;
    }

    .trip_block1, .trip_block2, .trip_block3 {
        display: grid;
        flex-direction: column;
        grid-template-columns: 50% 50%;
        align-items: center;
        column-gap: 5%;
    }

    .button_block {
        display: flex;
        flex-direction: column;
    }

    .button_block button {
        margin-top: 10px;
    }

}

@media screen and (min-width: 450px) and (max-width: 799px) {

    .trip_block_max {
        display: flex;
        flex-direction: column;
    }

    #button_more1, #button_more2, #button_more3 {
        display: none;
    }

    .button_block {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 1099px) {

    .trip_block_max {
        display: grid;
        grid-template-columns: 57% 43%;
        align-items: center;
        margin-right: -20px;
    }

    .trip_block1, .trip_block2, .trip_block3 {
        display: grid;
        flex-direction: column;
        align-items: center;
        column-gap: 5%;
    }

    .p_02, .p_03, .p_04, .p_06, .p_07, .p_08, .p_10, .p_11, .p_12 {
        display: none;
    }

    .button_block {
        display: grid;
        grid-template-columns: 40% 60%;
    }

}

@media screen and (min-width: 1100px) {
    
    .trip_block_max {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
    #button_more1, #button_more2, #button_more3 {
        display: none;
    }

    .button_block {
        display: grid;
        grid-template-columns: 40% 60%;
    }
}

/* Общие правила */

.first_block {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

#first_img {
    width: 100%;
    object-fit: cover;
    height: 100%;
} 

.second_block {
    padding-left: 20px;
    padding-right: 20px;
}

#p_news {
    position: relative;
    bottom: 160px;
    background-color: #FED74B;
    max-width: 100px;
    padding: 12px 20px 12px 20px;
    text-align: center;
}

.time_block {
    display: flex;
    flex-direction: row;
}

.time_block img {
    width: 15px;
}

#p_times {
    color: #9E9E9E;
    margin-left: 7px;
}

.text_block {
    margin-top: -15px;
}

.bullet_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -15px;
}

.bullet_block p {
    color: #4B4B4B;
    margin-left: 15px;
}

.bullet_block img {
    height: 12px;
}

.trip_block1, .trip_block2, .trip_block3 {
    width: 90%;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.trip_block1 p, .trip_block2 p, .trip_block3 p {
    background-color: #C5DCFF;
    border-radius: 10px;
    max-width: 100px;
    padding: 5px 15px 5px 15px;
    text-align: center;
}

#button_more1, #button_more2, #button_more3 {
    background-color: #6BA6FF;
    color: white;
    border-radius: 10px;
    border: none;
    width: 80px;
    padding: 4px 10px 4px 10px;
    text-align: center;
    margin-bottom: -8px;
}

.money_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.money_block strong {
    font-size: 52px;
    font-weight: 600;
}

.money_block img {
    margin-top: 3px;
    margin-left: 8px;
    height: 30px;
}

#prichal {
    margin-top: -3px;
}

.button_block {
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}